.wrapper{
    padding:100px 100px 30vh;
    height: 100vh;
}
.block{
    height: 100%;
    box-shadow:0 0 10px rgb(83,83,83);
    box-sizing : 5px;
}


.block{
    background: linear-gradient(#7dc867,#cf5e);
    background:url(images/dog.jpg) 50% 50% no-repeat;
    
}
